body {
  background-color: blanchedalmond;
}
.bigbox{
  width: 60%;
  height: auto;
  margin: auto;
  background-color: chocolate;
  border-radius: 5px;
  margin-top: 60px;
  text-align: center;
  padding-top: 10px;
}
.inputbar {
  width: 90%;;
  margin: auto;
  margin-top: 25px;
}
.btn{
  margin-left: 15px;
}