body {
  background-image: url(https://cdn.shopify.com/s/files/1/0385/6229/products/big-tex-funkadelic-trippy-alien-bandana-4290331148363_1024x1024.jpg?v=1549992891);
}
.bigbox{
  width: 60%;
  height: auto;
  margin: auto;
  background-color: gray;
  border-radius: 10px;
  margin-top: 60px;
  text-align: center;
  padding-top: 10px;
}
.inputbar {
  width: 90%;;
  margin: auto;
  margin-top: 25px;
}
.btn{
  background-color: rgb(179, 255, 0);
  margin-left: 15px;
  color: green;
  }
.listHolder{
  background-color: gray;
  border-radius: 10px;
  list-style: none;
}
li {
  margin-bottom: 2px;
  text-align: left;
  margin-left: 5px;
  border-bottom: 5px black;
}
.itemcounter{
  text-align: left;
  margin-left: 30px;
  color: rgb(179, 255, 0)
}
.Kidd{
  width: 85%;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 0px;
  background-color: rgb(179, 255, 0)
}
h1{
  color: rgb(179, 255, 0);
}
